*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Gugi', cursive;
}
body{
    background-color:#00cec9 ;
}
.galleryImg{
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 2%;
}

#imgGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 auto;
    margin-top: 20px;
    padding: 0 10px;
}
#blogContent{
    padding: 10px;
}
.container{
    margin:0 auto;
    text-align: center;
}


/*Sanddraon styling*/

#sandDragonWindow{
    position:absolute;
    resize: both;
    max-width:200px;
    max-height:200px;
    color:#EAB543;
    background-color: rgba(0,0,0,0.4);
}

#sandDragonHeader{
    resize: both;
    margin: 0 auto;
    border: 1px solid purple;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

#sandDragonMenu{
    display: flex;
}

.sandDragonMenuButton{
    text-decoration: none;
    color:#EAB543;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 5px;
    transition: all 0.6s;
    text-rendering: optimizeLegibility;
}

.sandDragonMenuButton:hover{
    transform: scale(0.9);
}
#sandDragonIcon{
    max-width: 200px;
    max-height: 200px;
    z-index: 9999;
    display: block;
    position: absolute;
    margin: 0 auto;
    margin-left: calc(50% - 100px);
    margin-top:20em;
    border: 1px solid purple;
}

#sandDragonIconImg{
    width: 100%;
    height: auto;
    z-index: 9999;
    animation: sandDragonIconAnimFadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}
@keyframes sandDragonIconAnimFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes sandDragonLeftCurtain{
    from{
        
    }
    to{
        transform: translateX(-10000px);
    }
}
@keyframes sandDragonRightCurtain{
    from{
        
    }
    to{
        transform: translateX(10000px);
    }
}
/* #leftCurtain{
    animation: sandDragonLeftCurtain;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#rightCurtain{
    animation: sandDragonRightCurtain;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} */
.sandDragonCurtain{
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 9998;
    width: 50vw;
    height: 100vh;
    animation-iteration-count: 1;
    background-color: black;
}

#rightCurtain{
    margin-left: 50vw;
}

#sandDragonLoadingOutput{
    position: absolute;
    z-index: 9999;
    width: 40%;
    height: auto;
    display: block;
    margin-left: 30%;
    text-align: center;
    border: 1px solid purple;
    overflow-wrap: break-word;
    color:#EAB543;
    letter-spacing: 2px;
    padding: 0 4px;
    text-shadow: 0 0 3px rgb(187, 255, 0);
}

